# Conda environment
.conda/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# MkDocs build output
site/
mkdocs_fast.yml

# Binary / compiled


# Backup files
*.bak

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
