# [Info] 基本信息
site_name: Tele # 左上角标题
site_url: https://xuxu0927.github.io/Tele/
site_author: Xuxu0927
site_description: 通信学习


# [UI] 界面设置
## [top]
theme:
  name: material
  custom_dir: docs/mkdocs/overrides
  font: 
    text: Noto Sans SC
    code: JetBrains Mono
  palette: 
    - scheme: default # 默认日间模式
      primary: deep purple # 上方的
      accent: deep purple # 链接等可交互元件的高亮色
      toggle:
        icon: material/weather-night # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
    - scheme: slate # 夜间模式
      primary: black
      accent: black
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式
  features:
    - content.code.copy # 代码复制
    - navigation.tabs # 使用Tab来进行分类
    - navigation.top # 返回顶部的按钮 在上滑时出现
    - navigation.footer # 上一个下一个按钮
    - navigation.indexes # Tab会有一个index.md 而不是在打开Tab时打开第一篇文章,文档可以直接附加到区域
  # - navigation.expand # 打开Tab时左侧目录全部展开
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
    - search.share # 将搜索结果分享
  language: zh # 一些提示性的文字会变成中文
  icon:
    repo: fontawesome/brands/github-alt
edit_uri: edit/main/docs # 编辑按钮跳转的链接
## [top-right corner]
repo_url: https://github.com/Xuxu0927/Tele # 右上角点击跳转的链接
repo_name: Tele # 右上角的名字
## [bottom-left corner]
copyright: Copyright &copy; 2024 gis-xh # 左下角的版权声明
## [bottom-right corner]
extra:
  social: # icons
    - icon: fontawesome/brands/github
      link: https://github.com/Xuxu0927
      name: GitHub | Xuxu0927 # 鼠标悬浮提示


# [Extensions] 扩展
plugins:
  - open-in-new-tab:
  - search:
    # insider已经支持中文的分词搜索了 https://squidfunk.github.io/mkdocs-material/blog/2022/chinese-search-support/
      lang:
        - zh
        - en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - tags: # 给单篇文章添加标签 https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/?h=tags
  - git-revision-date-localized: # 日期显示
      # ["date","datetime","iso_date","iso_datetime","timeago","custom"]
      type: timeago
      enable_creation_date: true # 创建时间
      timezone: Asia/Shanghai
      enable_parallel_processing: false
  - git-authors: # 显示作者
  - glightbox: # 图像缩放
  - meta-manager: # 元数据管理
  
markdown_extensions:
  - pymdownx.arithmatex: # latex支持
      generic: true
  - attr_list: # 给图片后面添加{width="300"}设置大小
  - md_in_html: 
  - tables: 
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      linenums: false # 显示行号
      linenums_style: table
      auto_title: true # 显示编程语言名称
  - pymdownx.superfences: # 代码块高亮插件
  - pymdownx.inlinehilite: # 段落中内置的小代码高亮
  - admonition: # https://squidfunk.github.io/mkdocs-material/reference/admonitions/#inline-blocks
  - pymdownx.details: # admonition需要
  - pymdownx.caret: # markdown上标显示
  - pymdownx.tilde: # markdown下标显示
  - pymdownx.mark: # markdown突出显示
  - footnotes: #markdown脚注支持


extra_javascript:
  # latex支持
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - mkdocs/css/img-center.css # 图像居中
  - mkdocs/css/1.css



  # [Navigtion] 导航栏


nav:
    - 首页: index.md
    - 电子通信:
        - 首页: 电子通信/index.md
        - 工具软件: 电子通信/工具软件/Matlab.md
        - 信号与系统:
            - MIT 6.007 Signals and Systems: 电子通信/信号与系统/MIT 6.007 Signals and Systems.md
            - UCB EE120 Signal and Systems: 电子通信/信号与系统/UCB EE120 Signal and Systems.md
        - 半导体: 电子通信/半导体/半导体.md
        - 单片机: 电子通信/单片机/单片机.md
        - 嵌入式: 电子通信/嵌入式/嵌入式.md
        - 数字系统与逻辑设计: 电子通信/数字系统与逻辑设计/课程.md
        - 模拟电路: 电子通信/模拟电路/课程.md
        - 模拟集成电路:
            - 第一章MOS器件基础: 电子通信/模拟集成电路/第一章MOS器件基础.md
            - 模拟集成电路: 电子通信/模拟集成电路/模拟集成电路.md
        - 电磁场与电磁波: 电子通信/电磁场与电磁波/电磁场与电磁波.md
        - 通信原理:
            - 课程: 电子通信/通信原理/课程.md
            - 通信原理笔记:
                - 1.绪论: 电子通信/通信原理/通信原理笔记/1.绪论.md
                - 2.确知信号: 电子通信/通信原理/通信原理笔记/2.确知信号.md
                - 3.随机过程: 电子通信/通信原理/通信原理笔记/3.随机过程.md
                - 4.信道: 电子通信/通信原理/通信原理笔记/4.信道.md
                - 5.模拟调制系统: 电子通信/通信原理/通信原理笔记/5.模拟调制系统.md
                - 6.数字基带传输系统: 电子通信/通信原理/通信原理笔记/6.数字基带传输系统.md
                - 7.数字带通传输系统: 电子通信/通信原理/通信原理笔记/7.数字带通传输系统.md
                - 8.新型数字带通调制技术: 电子通信/通信原理/通信原理笔记/8.新型数字带通调制技术.md
                - 9.数字信号的最佳接收: 电子通信/通信原理/通信原理笔记/9.数字信号的最佳接收.md
                - 10.信源编码: 电子通信/通信原理/通信原理笔记/10.信源编码.md
                - 11.差错控制编码: 电子通信/通信原理/通信原理笔记/11.差错控制编码.md
                - 12.正交编码与伪随机序列: 电子通信/通信原理/通信原理笔记/12.正交编码与伪随机序列.md
                - 13.同步原理: 电子通信/通信原理/通信原理笔记/13.同步原理.md
        - 信息论与编码: 电子通信/信息论与编码/课程.md
        - 计算机网络: 电子通信/计算机网络/计算机网络.md
        - PCB: 电子通信/PCB/PCB.md
        - 附：苏大资料库:
            - 首页: 电子通信/附：苏大资料库/index.md
            - MATLAB: 电子通信/附：苏大资料库/MATLAB/MATLAB.md
            - VHDL: 电子通信/附：苏大资料库/VHDL/VHDL.md
            - 传感器: 电子通信/附：苏大资料库/传感器/传感器.md
            - 信号与电路基础实验: 电子通信/附：苏大资料库/信号与电路基础实验/信号与电路基础实验.md
            - 信号与系统: 电子通信/附：苏大资料库/信号与系统/信号与系统.md
            - 嵌入式系统设计: 电子通信/附：苏大资料库/嵌入式系统设计/嵌入式系统设计.md
            - 工程数学复变: 电子通信/附：苏大资料库/工程数学复变/工程数学复变.md
            - 工程管理与环境: 电子通信/附：苏大资料库/工程管理与环境/工程管理与环境.md
            - 微处理器与微计算机系统: 电子通信/附：苏大资料库/微处理器与微计算机系统/微处理器与微计算机系统.md
            - 微机应用课程设计: 电子通信/附：苏大资料库/微机应用课程设计/微机应用课程设计.md
            - 微波技术与天线: 电子通信/附：苏大资料库/微波技术与天线/微波技术与天线.md
            - 数字信号处理: 电子通信/附：苏大资料库/数字信号处理/数字信号处理.md
            - 数字电路: 电子通信/附：苏大资料库/数字电路/数字电路.md
            - 模拟电路: 电子通信/附：苏大资料库/模拟电路/模拟电路.md
            - 电子线路CAD: 电子通信/附：苏大资料库/电子线路CAD/电子线路CAD.md
            - 电子线路实验: 电子通信/附：苏大资料库/电子线路实验/电子线路实验.md
            - 电磁场与电磁波: 电子通信/附：苏大资料库/电磁场与电磁波/电磁场与电磁波.md
            - 电路分析: 电子通信/附：苏大资料库/电路分析/电路分析.md
            - 程序设计与软件工程实践: 电子通信/附：苏大资料库/程序设计与软件工程实践/程序设计与软件工程实践.md
            - 计算机通信与网络: 电子通信/附：苏大资料库/计算机通信与网络/计算机通信与网络.md
            - 通信原理: 电子通信/附：苏大资料库/通信原理/通信原理.md
            - 通信电子线路: 电子通信/附：苏大资料库/通信电子线路/通信电子线路.md
    - 数学:
        - 首页: 数学/index.md
        - 工具软件: 数学/工具软件/Mathtools.md
        - 数学分析: 数学/数学分析/数学分析.md
        - 高等代数: 数学/高等代数/高等代数.md
        - 高中宝典:
            - 首页: 数学/高中宝典/index.md
            - 高中数学思想: 数学/高中宝典/高中数学思想/高中数学思想.md
            - 函数: 数学/高中宝典/函数/函数.md
            - 向量: 数学/高中宝典/向量/向量.md
            - 数列: 数学/高中宝典/数列/数列.md
            - 不等式: 数学/高中宝典/不等式/不等式.md
            - 立体几何: 数学/高中宝典/立体几何/立体几何.md
            - 解析几何: 数学/高中宝典/解析几何/解析几何.md
            - 导数: 数学/高中宝典/导数/导数.md
            - 其它定理公式: 数学/高中宝典/其它定理公式/其它定理公式.md
            - 尾言: 数学/高中宝典/尾言/尾言.md
    - 物理:
        - 首页: 物理/index.md
        - 大学物理: 物理/大学物理/大学物理.md
        - 数学物理方法: 物理/数学物理方法/数学物理方法.md
    - 计算机:
        - 首页: 计算机/index.md
        - c语言: 计算机/c语言/c语言.md
        - git: 计算机/git/git.md
        - python:
            - 打包工具: 计算机/python/打包工具.md
            - 课程推荐: 计算机/python/课程推荐.md
        - 操作系统: 计算机/操作系统/操作系统.md
        - 数据结构: 计算机/数据结构/index.md
        - 计算机组成: 计算机/计算机组成/index.md
        - AI体系: 计算机/AI体系/机器学习.md
    - 英语: 英语/index.md
    - 运动:
        - 首页: 运动/index.md
        - 健身:
            - 哑铃: 运动/健身/哑铃.md
            - 手臂: 运动/健身/手臂.md
            - 腹部: 运动/健身/腹部.md
        - 羽毛球: 运动/羽毛球/羽毛球.md
